.weather-container {
    background: #ccc;
    text-align: center;
}

.name {
    font-size: 30px;
    margin: 0%;
}

.weather {
    font-size: 22px;
    margin: 0;
}

.temp {
    font-size: 30px;
    margin: 0%;
    font-weight: bold;
}

.pressure {
    font-size: 30px;
    margin: 0%;
    font-weight: bold;
}

.humidity {
    font-size: 30px;
    margin: 0%;
    font-weight: bold;
}

.windspeed {
    font-size: 30px;
    margin: 0%;
    font-weight: bold;
}

.tempmin {
    font-size: 30px;
    margin: 0%;
    font-weight: bold;
}

.tempmax {
    font-size: 30px;
    margin: 0%;
    font-weight: bold;
}

#mapid {
     height: 300px;
}
